body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #f5f5f5;
  color: #333;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

body, html, header, nav, aside, article, section, footer, div, p, span, a, img, figure, figcaption, table, tr, th, td, ul, li, dl, dt, dd, i, label, caption, select, option, input, button, textarea, h1, h2, h3, h4, h5, h6 ,em,table,tr,td,thead,tbody,tfoot,th,button,b{
  padding: 0;
  margin: 0;
}
img {
  display: block;
  border: none;
}

i, span, select {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}
b{
  font-weight: normal;
}

ul li {
  list-style: none;
}
